services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: true

  Prokl\WpCycleOrmBundle\Commands\EntitiesList:
    arguments: ['@cycle_orm.orm']
    tags:
      - { name: console.command }

  Prokl\WpCycleOrmBundle\Commands\Table:
    arguments: ['@cycle_orm.dbal']
    tags:
      - { name: console.command }

  Prokl\WpCycleOrmBundle\Commands\ListTables:
    arguments: ['@cycle_orm.dbal']
    tags:
      - { name: console.command }